body{
	margin: 0;
}

h1{	
	height: 50px;
	background-color: darkturquoise;
	text-align: center;
	font-size: 18px;
	margin: 0;
}

#bigOrangeSquare{
	background-color: orange;
	width: 15%;
	height: 350px;
	margin-left: 45%;
	margin-right: 45%;
}

.light{
	border: 3px solid black;
	width: 100px;
	height: 100px;
	margin-left:46%;
	border-radius: 25px;
	position: absolute;
}

#top{
	top: 60px;
	background-color: darkred;
}
#middle{
	top:170px;
	background-color: darkkhaki ;
}

#bottom{
	top:280px;
	background-color: forestgreen ;
}

.myButton{
	border:4px solid black;
	height:30px;
	width:150px;
	text-align:center;
	font-size:18pt;
	border-radius:15px;
	float:left;
	
}

#marginizer{
	margin-left: 25%;
}